@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: 'Poppins', sans-serif !important;
    height: 5000px;
    padding-top: 60px;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }


  .navbar-blur {
    backdrop-filter: blur(20px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(20px); /* Support for Safari */
    border-bottom: 1px solid black; /* Black border at the bottom */
}

.nav-link {
    transition: all 0.5s;
    position: relative;
}

.nav-link::after {
    content: "";
    opacity: 0;
    transition: all 0.2s;
    height: 3px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 0;

}




@media (max-width: 768px) {
    .home-logo {
      display: none;
    }
  }

  @media (min-width: 991.98px) {
    .nav-link:hover::after {
      opacity: 1;
    }
  }
  
  @media (max-width: 992px) {
    .nav-link:hover::after {
      opacity: 0;
    }
  }

  @media (min-width: 992px) {
    .hero {
      padding-left: 100px;
      padding-right: 100px;
    }

    .about_us{
      padding-left: 100px;
      padding-right: 100px;
    }
  }