@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: 'Poppins', sans-serif !important;

    padding-top: 60px;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.navbar-blur {
    backdrop-filter: blur(20px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(20px); /* Support for Safari */
    border-bottom: 1px solid black; /* Black border at the bottom */
}

.nav-language-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.5s;
    position: relative;
}

.nav-link {
    transition: all 0.5s;
    position: relative;
}

.nav-link::after {
    content: "";
    opacity: 0;
    transition: all 0.2s;
    height: 3px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.slide-right {
    animation: slideRight 1s ease-in-out forwards;
    -webkit-animation: slideRight 1s ease-in-out forwards; /* Safari */
}

.slide-left {
    animation: slideLeft 1s ease-in-out forwards;
    -webkit-animation: slideLeft 1s ease-in-out forwards; /* Safari */
}

.slide-top {
    animation: slideTop 1s ease-in-out forwards;
    -webkit-animation: slideTop 1s ease-in-out forwards; /* Safari */
}

.slide-bottom {
    animation: slideBottom 1s ease-in-out forwards;
    -webkit-animation: slideBottom 1s ease-in-out forwards; /* Safari */
}

.float-up-down {
    animation: floatUpDown 2s ease-in-out infinite;
    -webkit-animation: floatUpDown 2s ease-in-out infinite; /* Safari */
}

.swingIn {
    animation: swingIn 3s ease-out forwards;
    -webkit-animation: swingIn 3s ease-out forwards; /* Safari */
}

@media (max-width: 768px) {
    .home-logo {
        display: none;
    }

    .sewing-machine-small {
        display: none;
    }

    .left-col {
        border: none !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .left-col * {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (min-width: 991.98px) {
    .nav-link:hover::after {
        opacity: 1;
    }

    .nav-link:active::after, /* When the link is active/clicked */
    .nav-link.active::after { /* When the link has the 'active' class */
        opacity: 1;
    }

    body p {
        font-size: 1.25rem; /* Equivalent to display-5 size in Bootstrap */
        line-height: 1.5;
    }
}

@media (max-width: 992px) {
    .nav-link:hover::after {
        opacity: 0;
    }

    .nav-link:active::after, /* When the link is active/clicked */
    .nav-link.active::after { /* When the link has the 'active' class */
        opacity: 0;
    }
}

@media (min-width: 992px) {
    .hero {
        padding-left: 100px;
        padding-right: 100px;
    }

    .about-us {
        padding-left: 100px;
        padding-right: 100px;
    }

    .slide-lg-bottom {
        animation: slideBottom 1s ease forwards;
        -webkit-animation: slideBottom 1s ease forwards; /* Safari */
        animation-delay: calc(0.2s * var(--i));  /* Delay based on the --i variable */
        -webkit-animation-delay: calc(0.2s * var(--i)); /* Safari */
    }
}

/* Keyframes */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideRight { /* Safari */
    0% {
        -webkit-transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideLeft { /* Safari */
    0% {
        -webkit-transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideTop { /* Safari */
    0% {
        -webkit-transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideBottom { /* Safari */
    0% {
        -webkit-transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes floatUpDown { /* Safari */
    0%, 100% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
    }
}

@keyframes swingIn {
    0% {
        transform: translateX(100%) rotate(0deg); 
    }
    40% {
        transform: translateX(0) rotate(8deg); 
    }
    60% {
        transform: translateX(-5px) rotate(-3deg);
    }
    100% {
        transform: translateX(0) rotate(0deg); 
    }
}

@-webkit-keyframes swingIn { /* Safari */
    0% {
        -webkit-transform: translateX(100%) rotate(0deg); 
    }
    40% {
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    60% {
        -webkit-transform: translateX(-5px) rotate(-3deg);
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}
